<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Croquant Cookies</title>
    <link rel="stylesheet" href="/history.css">
</head>
<body>
    <nav>
        <div class="brand">Croquant Cookies</div>
        <div>
            <a href="/user">Beranda</a>
            <a href="/product">Produk</a>
            <a href="/history">History</a>
            <a href="/cart">Cart</a> <!-- Tambahkan link ke Cart -->
        </div> 
        <form method="GET" action="/history">
            <input type="text" class="search-bar" id="search-input" name="search_query" placeholder="Search" value="<%= search_query %>">
            <button type="submit">Search</button>
        </form>
        <div class="user-icon">
            <a href="/orders">Status</a>
            <a href="/profile"><img src="/uploads/<%= profile_picture %>" alt="User Profile" class="profile-img" style="border-radius: 50%;"></a>
        </div>
    </nav>

<div class="history-container">
    <h1>History</h1>
    <div class="product-list">
        <% products.forEach(product => { %>
            <div class="product">
                <img src="/uploads/<%= product.gambar %>" alt="">
                <h2><%= product.name %></h2>
                <p>Amount: <span class="price">Rp <%= product.discounted_price ? product.discounted_price : product.price %></span></p>
                <p>Tgl: <%= product.date %></p>
            </div>
        <% }) %>
    </div>
</div>

<div class="footer">
    <div class="bold">
    <p>Copyright CroquantCookies2024</p></div>
    <div class="footer-item">
    <p>Croquant Cookies, JL Tanjung, Kel Kasin, Kec Klojen, Kota Malang</p>
    <p>+6288912032341 | croquant.cookies00@gmail.com</p>
</div>
    <div class="footer-link">
    <p><a href="#">Privacy</a> | <a href="#">Police</a> | <a href="#">Terms</a></p>
</div>
</div>

</body>
</html>
